.App {
  text-align: left;
  /*background-color: aqua;*/
  /*position: center;*/
  /*color: green*/
}

.container {
  width: 95%;
  max-width: 650px;
  margin: 0 auto;
}

.containerRegAuth {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
}